<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pig Latinizer!</title>
  </head>
  <body>
    <h1>Pig Pig Latinizer! ANSWER!!!!!!</h1>
    <h2> <%=@display_phrase %> </h2>
  </body>
</html>
